<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iori.psxc.mapper.CustomMapper">
    <resultMap id="CustomMap" type="com.iori.psxc.Custom">
        <id column="id" property="id" />
        <result column="tradno" property="tradno" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="remark" property="remark" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="time" property="time" />
        <result column="count" property="count" />
        <result column="price" property="price" />
        <result column="totalPrice" property="totalPrice" />
        <result column="ip" property="ip" />
        <result column="paid" property="paid" />
        <result column="paidPrice" property="paidPrice" />
    </resultMap>


    <insert id="insert" keyProperty="id" parameterType="com.iori.psxc.Custom" useGeneratedKeys="true" keyColumn="id">
        insert into custom (tradno,name,phone,address,remark,province,city,district,time,count,price,totalPrice,ip,paid,paidPrice)
        values (#{tradno},#{name},#{phone},#{address},#{remark},#{province},#{city},#{district},now(),#{count},#{price},#{totalPrice},#{ip},#{paid},#{paidPrice})
    </insert>

    <select id="maxid" resultType="int">
        select max(id) from custom
    </select>

    <select id="getByTradNo" parameterType="String" resultType="com.iori.psxc.Custom">
        select id,tradno,name, phone, address, remark, province, city, district, time,count, price, totalPrice, ip, paid,paidPrice
        from custom
        WHERE tradno=#{value}
    </select>

    <update id="updateByTradNo" parameterType="com.iori.psxc.Custom">
        update custom set paid = #{paid},paidPrice=#{paidPrice} where tradno=#{tradno}
    </update>

</mapper>